<div>
<div>
		<div class="row">
			<div class="col-sm-12 ft-padding-b">
				<div class="pull-right">
				<a id="expandAll">{{getLabel "lbl.clientUser.expand" "Expand/"}}</a> <a id="collapseAll">{{getLabel "lbl.clientUser.collapseAll" "Collapse All"}}</a>
				</div>
			</div>
		</div>
	</div>
 {{#each assets}}
	{{#selectAsset assetId "02"}}
	

	<!--Payments Packages starts here -->
	
		{{>packageTemplate assetid="02"}}
		
	<!--Payments Packages starts here -->
	
	<div class="row">
			<div class="col-sm-12">
				{{>accountTemplate assetid="02"}}
			</div>
	</div>
	
	<!--Payments Templates starts here -->
	
		{{>paymentTemplate assetid="02"}}
	<!-- Payment Template ends here */ -->

	  {{/selectAsset}}
{{/each}}



</div>