	html { font-size: 16px; height: 100%; display:none; line-height: normal; }
body { font-family: Calibri, helvetica, arial, sans-serif; font-size: 78%; font-weight: normal; padding: 0; border-width:0; font-variant: normal; width: auto; margin: 0 auto; line-height: normal; }

#pageBody { min-width: 992px; margin: 0; width: auto; min-height: 764px; }

#maincontainer { padding: 0; border-width: 0; margin: 0px; width: auto; height: auto; }
#container, #bodywrapper { padding: 8px 0 0 0; border-width: 0; vertical-align: top; }
#errContainer h3 { margin: 0; padding: 0; }
#content { text-align: left; height: auto; width: auto; vertical-align: top; overflow: hidden; min-height: 640px !important; }


/* side panel */
#sidepanel, #sidemenu { min-width: 200px; width: 200px; margin: 0; height: auto; vertical-align:top; border-width: 0px; }
#sidepanel h4 { border-width: 0; font: 700 13px/1 calibri, helvetica, arial, sans-serif; }
#sidepanel ul { padding: 4px 0 0 6px; }
#sidepanel ul li { margin: 0 0 0 2px; height: 20px; }
#sidepanel ul li a:hover { font-weight: bold; }
#sidepanel table tr { line-height: 16px; }

#sidemenu h4 { border-width: 0; font: 700 13px/1 calibri, helvetica, arial, sans-serif; }
#sidemenu ul { padding: 4px 0 0 6px; }
#sidemenu ul li { height: 20px; margin: 0 0 0 2px; }
#sidemenu ul li a:hover { font-weight: bold; }

.sideTables tr td { padding: 2px 0; }

#sideMenuResizer {
    height: 16px;
    overflow: hidden;
    /*position: relative;*/
    text-align: left;
    text-decoration: none;
    top: 114px;
    width: 10px;
}

.sidemenu_left_icon {
    background-color: transparent;
    background-image: url("../images/icons/arrow_left.png");
    background-repeat: no-repeat;
}
.sidemenu_right_icon {
    background-color: transparent;
    background-image: url("../images/icons/arrow_right.png");
    background-repeat: no-repeat;
}


#hSpacer { display:inline-block; height: 8px; padding: 0; margin:0; border-width: 0; }

#popupBody { margin:0; padding:0;border-width: 0; width: auto; }
#popupContainer { padding: 0 4px; border-width: 0; margin: 0; width: auto; }
#versionId { font-family: Consolas,Courier;font-size: 8px; }

/* Sidebar sub items */
#contactus, #interestrate, #exchangerate { padding: 0 4px; }



#rightactionmenu { /*min-width: 200px;*/ width: 21%; margin: 5px 5px 5px 0; height: 600px; vertical-align:top; border-width: 0px; float:right;}

#leftactionmenu { /*min-width: 200px;*/ width: 21%; margin: 5px 0px 5px 5x; height: 600px; vertical-align:top; border-width: 0px; float:left;}

.smartnavHeader { margin: 0 0 0 9px;}
/*implemented in new-cashplus.css*/
/*.rightMenuBody{
	margin: 0 0 0 8px;
    padding: 10px 0 20px 0px;
}*/
.icon {	cursor: pointer;}

.icon-right-float {	float: right;}


/* body, */
/* body *, */
/* .x-body, */
/* .x-body * { */
/*   font-family: Calibri, */
/* 	Candara, */
/* 	Segoe, */
/* 	"Segoe UI", */
/* 	Optima, */
/* 	Arial, */
/* 	sans-serif; */
/* 	font-size: 14px ; */
/* } */

.ft-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 960px;
  max-width: 1340px;
}

.ft-clear,
.ft-clearfix {
  clear: both;
  margin: 0;
  padding: 0;
}

.ft-dropdown {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  min-height: 20px;
}

.ft-dropdown-toggle {
  cursor: default;
  display: inline-block;
  min-height: 20px;
  min-width: 20px;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  cursor: pointer;
}

.ft-dropdown:hover .ft-dropdown-toggle {
  background-color: #135e82;
  color: #fff;
}

.ft-dropdown-caret {
  display: inline-block;
  height: 7px;
  width: 13px;
  vertical-align: middle;
  background-image: url('../images/T7/caret-black.png');
  background-repeat: no-repeat;
}

.ft-dropdown:hover .ft-dropdown-caret {
  background-image: url('../images/T7/caret-white.png');
}

.ft-dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  /* magic number */
  margin-top: -4px;
  /* magic number */
  background-color: #135E82;
  z-index: 10;
  border-radius: 5px 0 5px 5px;
  overflow: hidden;
  padding: 10px 0;
  color: #95d5e9;
}

.ft-dropdown-left .ft-dropdown-menu {
  right: auto;
  left: 0;
  border-radius: 0 5px 5px 5px;
}


.ft-dropdown:hover .ft-dropdown-menu {
  display: block;
}

.ft-dropdown-items,
.ft-dropdown-items > li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ft-dropdown-items a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  min-width: 100px;
  max-width: 200px;
}

.ft-dropdown-items a:hover {
  background-color: #387494;
   color: #fff;
  text-decoration: none;
}

.ft-dropdown-content {
  padding: 10px 0  5px 0;
  text-align: center;
}

.ft-margin-l {
  margin-left: 10px;
}

.ft-header-nav {
  position: relative;
  display: block;
  background: #fff;
}

.ft-header-nav ul {
  display: block;
}

.ft-header-nav a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  min-width: 70px;
  width: auto;
  color: #006699 !important;
}

.ft-main-nav {
  position: relative;
  margin: 0;
  padding: 0;
  height: 51px;
  display: block;
  border-bottom: solid #CCC thin;
  border-right: solid #CCC thin;
  border-left: solid #CCC thin;
}

.ft-header-nav .ft-dropdown-items a{
	color: #fff !important;
}

.ft-main-nav li:hover {
  background-color: #F9F9F9;
}

.ft-main-nav li:hover a {
  color: #333 !important;
  text-decoration: none;
}

.ft-sub-nav li:hover a {
  color: #F36F27;
  text-decoration: none;
}

.ft-main-nav .ft-page-active {
  position: relative;
  background-color: #F9F9F9;
}

.ft-page-active:after,
.ft-page-active:before {
  top: 0;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ft-page-active:after {
  border-color: rgba(243, 111, 39, 0);
  border-top-color: #F36F27;
  border-width: 8px;
  margin-left: -8px;
}

.ft-page-active:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: transparent;
  border-width: 9px;
  margin-left: -9px;
}

.ft-main-nav .ft-page-active a {
  color: #000 !important;
}

.ft-main-nav > li {
  float: left;
  display: table;
  height: 50px;
  border-right: solid #CCC thin;
}

.ft-main-nav > li > a {
  margin: 0;
  padding: 0 20px;
  border: none;
  display: table-cell;
  vertical-align: middle;
  font-weight: 100;
}

.ft-sub-nav {
  position: relative;
  display: block;
  height: 30px;
  width: auto;
  border-bottom: solid #CCC thin;
}

.ft-sub-nav > li {
  float: left;
  display: table;
  height: 30px;
  border-right: solid #CCC thin;
  border-bottom: solid #CCC thin;
  background-color: #fff;
}

.ft-sub-nav > li > a {
  margin: 0;
  padding: 6px 10px;
  border: none;
/*   display: table-row; */
  vertical-align: middle;
  font-size: 13px !important;
  font-weight: 100;
}

.ft-sub-nav .ft-link-active {
  border-bottom: solid white thin;
}

.ft-sub-nav .ft-link-active a {
  color: #f36f27 !important;
}

.ft-sub-nav li:hover a {
  color: #F36F27 !important;
  text-decoration: none;
}

.ft-sub-nav li.flyout > ul.ft-sub-nav-3 {
  border: none !important;
  padding: 1px 0px 0px 0px !important;
  z-index: 10000 !important;
}

.ft-header-menubar {
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 12px;
}

.ft-header-menubar a{
	font-size: 12px;
}

.ft-header-menubar .ft-dropdown,
.ft-header-menubar-separator {
  display: inline;
}

.ft-header-menubar-separator {
  width: 1px;
  height: 100%;
  border-right: 1px solid #9cafb8;
  margin: 0 2px;
}

.ft-header-menubar .ft-button-login {
  background-color: #609bb7;
  background-image: url("../images/T7/button-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
}

.ft-header-menubar .ft-button-login:hover {
  background-color: #4486a5;
}

.ft-help-txt {
  display: table-cell;
  vertical-align: middle;
  color: #006699;
  font-size: 15px;
}

.ft-help-nav {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  vertical-align: middle;
}

.ft-help-nav > div {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.ft-icons {
  background-image: url(../images/T7/icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.ft-accordion-toggle-trigger {
  background: #7acae4;
  color: #e4f4fa;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  width: 200px;
}

.ft-layout-header .ft-accordion-toggle-trigger {
  position: absolute;
  top: auto;
  left: auto;
  right: 10px;
  bottom: 0px;
}

.ft-accordion-trigger-icon {
  background-position: -5px -42px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  width: 22px;
  height: 28px;
}

.ft-sidebar-hidden .ft-accordion-trigger-icon {
  background-position: -28px -42px;
}

.ft-icons {
  background-image: url(../images/T7/icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.ft-sidebar-accordion,
.ft-sidebar-accordion li {
  margin: -2px 0px 0px 0px;
  padding: 0;
  list-style: none;
}

.ft-sidebar-accordion-header {
  color: #666;
  font-size: 16px;
  padding-left: 38px;
  padding-right: 30px;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  position: relative;
}

.ft-sidebar-accordion-header .ft-icons-settings,
.ft-sidebar-accordion-header .ft-accordion-exp-icon {
  position: absolute;
  top: 50%;
  left: auto;
  right: auto;
  bottom: auto;
}

.ft-sidebar-accordion-header .ft-accordion-exp-icon {
  margin-top: -14px;
  left: 5px;
}

.ft-sidebar-accordion-header .ft-icons-settings {
  margin-top: -10px;
  right: 5px;
}

.ft-sidebar-accordion-content {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100px;
}

.ft-sidebar-accordion-content li {
  padding-bottom: 20px;
}

.ft-sidebar-accordion-content a {
  color: #135e82;
  text-decoration: none;
}

.ft-sidebar-accordion-content a:hover {
  text-decoration: underline;
}

/*
====================
Accordion collapsed.
====================
*/

.ft-accordion-collapsed .ft-icons-settings,
.ft-accordion-collapsed .ft-sidebar-accordion-content {
  display: none;
}

/*
==================
Sidebar collapsed.
==================
*/

.ft-accordion-trigger-icon {
  background-position: -5px -42px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  width: 22px;
  height: 28px;
}

.ft-sidebar-hidden .ft-accordion-trigger-icon {
  background-position: -28px -42px;
}

.ft-accordion-exp-icon {
  background-position: -5px -5px;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.ft-accordion-collapsed .ft-accordion-exp-icon:hover {
  background-position: -54px -102px;
}

.ft-accordion-exp-icon:hover {
  background-position: -25px -101px;
}

.ft-accordion-collapsed .ft-accordion-exp-icon {
  background-position: -43px -5px;
}

=============================================
Custom grid. Fluid main area, fixed sidebars.
=============================================
*/

.ft-layout-container {
  margin-left: -10px;
  margin-right: -10px;
}

.ft-layout-row {
  display: block;
  width: 100%;
}

.ft-layout-primary,
.ft-layout-secondary,
.ft-layout-sidebar {
  display: block;
/*   padding-left: 10px; */
/*   padding-right: 10px; */
  vertical-align: top;
}

.ft-layout-secondary,
.ft-layout-sidebar {
  width: 1%;
}

.ft-layout-primary .ft-layout-inner {
  /*width: 100%;*/
}

.ft-layout-secondary .ft-layout-inner {
  width: 250px;
}

.ft-layout-sidebar .ft-layout-inner {
  margin-top: 0px;
  width: 200px;
}

.ft-title {
    font-size: 24px !important;
    color: #4a4a4a;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 3px;
}

/*
===============
Sidebar hidden.
===============
*/

.ft-sidebar-hidden .ft-layout-sidebar {
  display: none;
}



.flyout {
	z-index: 999;
}
li.flyout > ul.ft-sub-nav-3 {
	list-style: none !important;
	margin:0 !important;
	padding: 0px !important;
	margin:0 !important;
	display: none ;
	position: absolute !important;
	font-weight: normal !important;
	z-index: 999 !important;
}
li.flyout > ul.ft-sub-nav-3 > li {
	filter:none !important;
	margin:0 !important;
	min-width: 148px !important;
	font-weight: normal !important;
	cursor:pointer !important;
/* 	height : 29px !important; */
}
li.flyout:hover > ul.ft-sub-nav-3 {
	display: block !important;
}
li.flyout > ul.ft-sub-nav-3 > li > a {
	padding: 6px 2px 0px;
	display: block !important;
	height:inherit !important;
	font-weight:normal !important;
	border-top: solid #CCC thin !important;
}
li.flyout > ul.ft-sub-nav-3 > li > a > b {
	font-weight: normal !important;
}

/* Theaming for flyout menu */
li.flyout > ul.ft-sub-nav-3 {
	border: 1px solid #C3C3C3;
	border-radius: 0 0 4px 4px;
	background-color: #f7fbfc !important;
}
li.flyout > a > b {
	background: #ffffff right center no-repeat scroll url('../themes/tandem/menubar/flyout.png') !important;
}
li.flyout > ul.ft-sub-nav-3 > li > a:hover {
	background-color: #ECECEC !important;
	color: #f36f27 !important;
}

li.flyout > a {
  position: relative;
  background-color: #F9F9F9;
}

.ft-sub-nav-3 li:hover a {
  color: #F36F27 !important;
  text-decoration: none !important;  
}

li.flyout > a:after {
  border-color: rgba(243, 111, 39, 0) !important;
  border-top-color: #F36F27 !important;
  border-width: 5px !important;
  margin-left: -8px !important;
}

li.flyout > a:after, li.flyout > a:before {
  top: 0;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ft-sub-nav .ft-sub-nav-3 li a {
  margin: 0 !important;
  padding: 0px ;
  border: none !important;
  display: table-cell !important;
  vertical-align: middle !important;
  font-size: 13px !important;
  font-weight: 100 !important;
  text-align: left !important;
  color: #006699 !important;
  z-index: 999 !important;
  border-bottom: solid #CCC thin !important;
  border-right: solid #CCC thin !important;
  border-left: solid #CCC thin !important;
}

.ft-sub-nav-3 .ft-link-active {
  border-bottom: solid white thin !important;
}

.ft-sub-nav-3 .ft-link-active a {
  color: #f36f27 !important;
}

ul.ft-sub-nav-3  {
	border: none !important;		
	padding: 0px !important;
}


.ui-section .ui-section-header.jq-panel-header{
	height: auto !important;
}

body,
body *,
.x-body,
.x-body * {
  font-family: Calibri,
	Candara,
	Segoe,
	"Segoe UI",
	Optima,
	Arial,
	sans-serif;
	font-size: 14px;
}

.ux_custom-section-header b{
  margin: 0px !important;
  padding: 0px !important;
  line-height: inherit !important;
  font-size: 16px !important;
  font-family: calibri !important;
  color: #444 !important;
  background: none !important;
  font-weight: normal !important;
  text-transform: uppercase;
}

label, a {
	font-weight: normal !important;
	color: #222;
}


SELECT, OPTION {
  color: #444 !important;
}

fieldset.fieldGroup legend {
  width: auto !important;
}

.ui-datepicker a{
	color: #6f6f6f !important;
	font-weight: bold !important;
	font-size: 12px !important;
}

.ui-datepicker .ui-state-active, .ui-datepicker.ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active{
	color: #fff !important;
	background-color: #135e82;
}

.ui-widget.ui-datepicker{
	font-size: 14px;
}

.ui-datepicker .ui-datepicker-title .ui-datepicker-month, .ui-datepicker .ui-datepicker-title .ui-datepicker-year, .ui-datepicker table th span{
	font-size: 12px;
}

.ui-datepicker .ui-state-highlight, .ui-datepicker.ui-widget-content .ui-state-highlight, .ui-datepicker .ui-widget-header .ui-state-highlight {
  border: none !important;
  background: #60b3d1 !important;
  color: #fff;
}

#gridDiv{
/* 	width: 100%; */
}

.ft-error-message {
  background-image: url("../themes/cashplus/backgrounds/error_background.png");
  background-repeat: repeat;
  border-top: 1px solid #DF7D7D;
  border-bottom: 1px solid #DF7D7D;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.ft-error-message span {
  background-image: url('../images/icons/icon_error.gif'); background-repeat: no-repeat; background-position: left center; color: #AF4C4C;padding-left: 20px;
}

.ft-error-message p {
  color: #F7442A;
  list-style: square;
}
  
  