<div>
	<div>
		<div class="row">
			<div class="col-sm-12 ft-padding-b">
				<div class="pull-right">
				<a id="expandAll">{{getLabel "lbl.role.brexpandAll" "Expand/"}}</a> <a id="collapseAll">{{getLabel "lbl.role.brcollapseAll" "Collapse All"}}</a>
				</div>
			</div>
		</div>
	</div>
 	{{#each assets}}
		{{#selectAsset assetId "21"}}
		
			{{#if allowedFeatures}}
				{{>featureTemplate assetid="21"}}	
			{{/if}}
			<!--Sub Accounts Privileges starts here -->
				{{>prevTemplate assetid="21"}}
			<!-- Sub Accounts Privileges ends here  -->
	
			<!--Report and Alerts starts here -->
			<div class="row">
				<!-- Start of Alerts -->
					<div class="col-sm-6">
					{{>alertTemplate assetid="21"}}
					</div>
				<!-- End of Alerts -->
				
				<!-- Start Report  -->
					<div class="col-sm-6">
					{{>reportTemplate assetid="21"}}
				</div>
				<!-- End of Reports -->
			</div>
		<!--Report and Alerts ends here -->
	
		<!--Sub Accounts Accounts starts here -->
			<div class="row">
				<div class="col-sm-12">
					{{>accountTemplate assetid="21"}}
				</div>
			</div>
		<!-- Sub Accounts accounts ends here  -->
	
	  {{/selectAsset}}
{{/each}}

</div>