$fontSize14 : 14px;
$fontFamily : calibri;

/*Used for Button Background, Horizontal Menu Bar,SmartGrid Header,Linktabs*/
$primaryColor : #757575; 


/*Used for background color of Active tab*/
$activeTab : #757575; 

/*Used for background color of inactive tab*/
$inactiveTab : #cccccc; 

/*Link color*/

$linkColor: #757575;


$fieldsetBorderColor: #cfcfcf;

$lightColor: #fff;