$fontSize14 : 14px;
$fontFamily : calibri;

/*Used for Button Background, Horizontal Menu Bar,SmartGrid Header,Linktabs*/
$primaryColor : #5d99b5; 


/*Used for background color of Active tab*/
$activeTab : #60b3d1; 

/*Used for background color of inactive tab*/
$inactiveTab : #caebf6; 


$fieldsetBorderColor: #cfcfcf;

$lightColor: #fff;