@import "variables-default";
@import "SASS/Button.scss";
@import "SASS/Grid.scss";
@import "SASS/Crumbs.scss";
@import "SASS/SidePanel.scss";
@import "SASS/PageHeader.scss";
@import "SASS/Labels.scss";
@import "SASS/Panel.scss";
@import "SASS/InputFields.scss";
@import "SASS/Div-Section.scss";
@import "SASS/Tabs.scss";
@import "SASS/LinksnIcons.scss";
@import "SASS/PageFooter.scss";
@import "SASS/PageContent.scss";
@import "SASS/PaddingMargin.scss";
@import "../common/layout.scss";
@import "SASS/Popup.scss";

@mixin border-radius($radius) {
	border-radius : $radius !important;
	-moz-border-radius: $radius !important;
	-webkit-border-radius: $radius !important;
	-o-border-radius: $radius !important;
	-ms-border-radius: $radius !important;
	-khtml-border-radius: $radius !important;
}

@mixin glyph($size) {
	font-family: fontawesome !important;
	font-size: $size !important;
}

.non-xn-popup .x-portlet {
	margin: 0px !important;
    padding: 0px;
	&.ft-padding-bottom {
		padding: 0px;
	}
}