$fontFamily : arial, helvetica sans-serif;    

/*Used for Button Background, Horizontal Menu Bar,SmartGrid Header,Linktabs*/
$primaryColor: #00add6; 
$linkColor: #005d82;  
$transparentColor: transparent;     
/*Button Gradient*/  
$buttonGradientColor: #C6DEF2;   
$buttonGradientBorderColor: #769DC0;  
$buttonGradientHoverColor: #abd6ff;     
    
/*Header Color*/
$headerColor: #01338C;  

/*Page Header Color*/  
$page-headerColor: #01338C;
$mainMenuHoverTextColor: #faebd7;
$secondaryMenuBarColor: #e7e9ef;  
$secondaryButtonColor: #609bb7;  
$secondaryNavHoverColor: #ccc;
$logoutButton: #609bb7;
$logoutHover: #609bb7;  
$headerActionDropdown: #387494;
$lightColor: #fff;       
$headerBorderColor: #fff;
$darkColor: #000;
$primaryBtnHover:#004464;  
$footerSecondaryBtnHover : #4486a5;
$footerColor : #f1f1f1;
$clearlink : #337ab7;
$clearlinkHover : #23527c;   
$dropDownListItems : #555555;

$gridHeaderColor: #d7ecf4;
$gridHeaderOverColor: #bde1f0; 

/*Grid Row Color*/
$gridRowColor: #CBE3FF;
$gridRowAltColor: #F0F7FF;
$gridRowHoverColor: #7692B7;

/*Tab Panel Color*/
$tabPanelColor: #e7e9ef;
$inActiveTabColor: #e7e9ef;
$activeTabColor: #00add6;
$tabActivePanelColor: #ccc;

$headerdropdown: #e4f4fa;  
 
$panelBackgroundColor: $lightColor;
 
$secondaryColor: #60b3d1;

$hoverColor: #b1e1f1;

$fontColor: #333;

$labelColor: #666666;

/*Used for background color of Active tab*/
$activeTab : $primaryColor; 

/*Used for background color of inactive tab*/
$inactiveTab : $gridHeaderColor; 

$fontSize20 : 20px;
$fontSize18 : 18px;
$fontSize16 : 16px;
$fontSize15 : 15px;
$fontSize14 : 14px;
$fontSize13 : 13px;
$fontSize12 : 12px;
$fontSize11 : 11px;

$fontWeight-Regular: 400;
$fontWeight-SemiBold: 600;

$fieldsetBorderColor: #cfcfcf;

$sidePanelHeader: #7acae4;

$sidePanelActionList: #9ad6ea;
$sidePanelQuickPayments: #bce4f1;
$sidePanelMessages: #ddf1f8;
$sidePanelReports: #eef8fb;

$tabsColor: $sidePanelReports;

$secondaryBtn: #7BBE32;  
$secondaryBtnHover: $sidePanelHeader;

$verticalPanelHeader: $sidePanelHeader;

@mixin fontSize($size){
font-size: 10px+$size;
}
@mixin fontSizeImportant($size){
font-size: 10px+$size;
}