$fontSize14 : 14px;
$fontFamily : calibri;

/*Used for Button Background, Horizontal Menu Bar,SmartGrid Header,Linktabs*/
$primaryColor : #757575; 


/*Used for background color of Active tab*/
$activeTab : #757575; 

/*Used for background color of inactive tab*/
$inactiveTab : #cccccc; 

/*Link color*/

$linkColor: #757575;


/*Used for Button Background, Horizontal Menu Bar,SmartGrid Header,Linktabs*/
$panelBackgroundColor: #fff;

$lightColor: $panelBackgroundColor;

$secondaryColor: #60b3d1;

$headerTabColor: #9ea2ab;
$headerTabHoverColor: #dddbdc;


$hoverColor: #b1e1f1;

$fontColor: #444;


$fontSize18 : 18px;
$fontSize16 : 16px;
$fontSize15 : 15px;
$fontSize14 : 14px;
$fontSize13 : 13px;
$fontSize12 : 12px;

$fontWeight-Regular: 400;
$fontWeight-SemiBold: 600;



