/*Padding*/
.ux_smallpadding-left{padding-left:4px !important;}
.ux_smallpadding-top{padding-top:4px !important;}
.ux_smallpadding-right{padding-right:4px !important;}
.ux_smallpaddinglr{padding-left:4px !important;padding-right: 4px !important;}
.ux_normalpaddinglr{ padding-left: 6px !important;padding-right:6px !important;}
.ux_normalpaddingtb{ padding-top: 6px !important;padding-bottom:6px !important;}
.ux_normalpadding-top{ padding-top: 6px !important; }
.ux_normalpadding-right{ padding-right: 6px !important; }
.ux_normalpadding-bottom{ padding-bottom:6px !important; }
.ux_largepadding { padding: 10px !important; }
.ux_largepadding-left{ padding-left:10px !important; }
.ux_largepadding-right{ padding-right:10px !important; }
.ux_largepaddinglr{ padding-left: 10px !important;padding-right: 10px !important; }
.ux_largepaddingtb{ padding-top: 10px !important;padding-bottom: 10px !important; }
.ux_largepadding-top{ padding-top: 10px !important;}
.ux_largepadding-bottom{ padding-bottom: 10px !important; }
.ux_extralargepaddinglr{ padding-left:12px !important;padding-right: 12px !important; }
.ux_extralargepadding-left{ padding-left:12px !important; }
.ux_extralargepadding-right{ padding-right: 12px !important; }
.ux_extralargepaddingtb{ padding-top: 12px !important;padding-bottom: 12px !important; }
.ux_extralargepadding-top{ padding-top: 12px !important; }
.ux_extralargepadding-bottom{ padding-bottom:12px !important; }
.ux_verylargepaddingtop{ padding-top: 18px !important; }
.ux_verylargepadding-right{padding-right:18px !important;}
.ux_padding-top-24 {
	padding-top : 24px !important;
}

/*Width*/

.w15 { width: 15em !important; min-width: 15em !important; }

/*Margin*/
.ux_extrasmallmargin-right {margin-right: 2px !important;}
.ux_verysmallmargin-top {margin-top : 3px !important;}
.ux_smallmarginlr{ margin-left: 4px !important;margin-right: 4px !important;}
.ux_smallmargin-right {margin-right : 4px !important;}
.ux_smallmargintb{ margin-top: 4px !important;margin-bottom: 4px !important;}
.ux_smallmargin-top{ margin-top: 4px !important;}
.ux_smallmargin-bottom{ margin-bottom:4px !important;}
.ux_normalmarginlr{ margin-left:6px !important;margin-right: 6px !important; }
.ux_normalmargintb{ margin-top: 6px !important;margin-bottom: 6px !important; }
.ux_normalmargin-left{ margin-left: 6px  !important; }
.ux_normalmargin-top{ margin-top: 6px  !important; }
.ux_normalmargin-bottom{ margin-bottom: 6px !important; }
.ux_extramarginlr{ margin-left: 8px !important;margin-right: 8px !important; }
.ux_extramargintb{ margin-top: 8px !important;margin-bottom: 8px !important; }
.ux_extramargin-top{ margin-top: 8px !important; }
.ux_extramargin-bottom{ margin-bottom: 8px !important; }
.ux_largemargin-left{ margin-left:10px !important; }
.ux_largemargin-right{ margin-right:10px !important; }
.ux_largemarginlr{ margin-left:10px!important; margin-right: 10px !important;}
.ux_largemargintb{ margin-top: 10px !important;margin-bottom: 10px !important; }
.ux_largemargin-top{ margin-top: 10px !important; }
.ux_largemargin-bottom{ margin-bottom:10px !important; }
.ux_extralargemarginlr{ margin-left:12px!important;margin-right: 12px !important; }
.ux_extralargemargin-left{ margin-left:12px!important; }
.ux_extralargemargin-right{ margin-right: 12px !important; }
.ux_extralargemargintb{ margin-top:12px !important;margin-bottom: 12px !important; }
.ux_extralargemargin-top{ margin-top: 12px !important; }
.ux_extralargemargin-bottom{ margin-bottom:12px !important; }
.ux_verylargemargintop{ margin-top: 18px !important; }
.ux_verylargemargin-right{margin-right:18px !important;}
.ux_verylargemargin-left{margin-left:18px !important;}
.ux_verylargemarginbottom{ margin-bottom: 18px !important; }

.ux_margin-left20 {
	margin-left: 20px !important;
}
.ux_no-top{
	top:0px !important;
}

.ux_no-left{
	left:0px !important;
}
.ux_no-marginlrb
{
	margin-right:0px !important;
	margin-left:0px !important;
	margin-bottom:0px !important;
}
.ux_no-padding-left{
	padding-left:0px !important;
}
.ux_top-margin{
	margin-top: 10px !important;
}
.ux_padding-top{
	padding: 12px 0px 0px 0px!important;
}
.ux_pad-r5{
	padding-right: 5px !important;
}
.showAllMargin { margin-left:1050px; }
.ux_no-border-right {
	border-right: 0px !important;
}

.ux_w100 {
	width : 100% !important;
}
.ux_width-auto{
	width:auto !important;
}
.ux_w135 {
	width : 135px !important;
}
.w10_3{
	width: 200px !important;
	min-width: 200px !important;
}
.ux_color-italic{ font-style: italic; }



.ux_line-height20{line-height: 20px;}
.list-menu-item_24{
	margin-bottom: 1px !important;
}
.ux_line-height16{
	line-height:16px;
}
.ux_border-top-d0 {
	border-top : #d0d0d0 1px solid !important;
}

.ux_border-radius3 {
	border-radius : 3px !important;
}
.rtBorder { border-width: 0 1px 0 0; border-style: none solid none none; border-color: #d9b35c; }
.lightgrey { color: #ececec; }
hr.lightgrey { background-color: #ececec; }

.ux_texttransform-upper{
	text-transform: uppercase !important;
}
.floatright{
	float: right !important;
}

.w10_3{
	width: 200px !important;
	min-width: 200px !important;
}

.ux_pad-r5{
	padding-right: 5px !important;
}

.ux_borderb{
	border-bottom: 2px solid #f3f3f3 !important;
}
.ux_paddingtb {
	padding: 6px 0px 12px 0px !important;
}
.ux_paddingtl {
	padding: 6px 0px 0px 6px !important;
}
.ux_padding0060 {
	padding: 0px 0px 6px 0px !important;
}

.ux_paddingl {
	padding: 10px !important;
}
.ux_margint {
	margin-top : 3px !important;
}
.ux_margin-zero {
	margin-left : 0px !important;
}
.ux_padding4 {
	padding : 4px 0px 0px 4px !important;
}
.ux_margintop12 {
	margin-top : 12px !important;
}
.ux_marginbottom12 {
	margin-bottom : 12px !important;
}

.ux_padding-top-18 {
	padding-top : 18px !important;
}
.ux_padding-left10  {
	padding-left : 10px !important;
}

.ux_line-height24 {
	line-height : 24px !important;
}
.ux_line-height15{
	line-height:15px !important;
}

.ux_blue {
	color : #13e82 !important;
	font-weight : bold !important;
}
.w165 {
	width : 165px !important;
	min-width: 165px !important;
}
.ux_margin-left20 {
	margin-left: 20px !important;
}
.ux_w100 {
	width : 100% !important;
}
.ux_width-auto{
	width:auto !important;
}
.ux_w135 {
	width : 135px !important;
}
.ux_right-align.frmLabel {
	text-align: right !important;
}

.showAllMargin { margin-left:1050px; }
.ux_no-border-right {
	border-right: 0px !important;
}
/*For adhoc receiver more details*/

.ux_border-top-d0 {
	border-top : #d0d0d0 1px solid !important;
}
.ux_line-height16{
	line-height:16px;
}

.ux_line-height20{line-height: 20px;}
.list-menu-item_24{
	margin-bottom: 1px !important;
}

.actions_menu{ width: 195px !important; }

.ux_pwd-font-size15{ font-size: $fontSize15; font-family: $fontFamily; font-weight: bold; }

.ux_font-size12{ font-size: $fontSize12 !important; font-family: $fontFamily; font-weight: normal !important; }