
#crumbs {
	/*height: 46px !important;*/
	background: #ddd !important;
}
#crumbs li a {
	font-size : $fontSize14 !important;
	font-weight: $fontWeight-Regular;
	padding: 8px 17px 11px 25px !important;
}
#crumbs ul li:first-child a {
	padding: 9px 17px 10px 10px !important;
}
.active {
	font-weight: $fontWeight-SemiBold !important;
	color : $lightColor !important;
}

/*CSS For Navigation Bar*/
#crumbs { display: block; height:36px; background : #dddddd  }
#crumbs li {  display: inline; minimum-width:100px;}
#crumbs li a{ display: block; float: left; font-size: $fontSize11; margin-left: -19px; padding: 7px 17px 11px 25px; position: relative; text-decoration: none; }
#crumbs li a { background-image: url('resources/images/ux_normalcrumb.png');  background-repeat: no-repeat; background-position: 100% 0; position: relative; }

#crumbs { text-align: left; background:#ddd;}
#crumbs ul {list-style:none;display: inline-table;width:auto;}
#crumbs ul li:first-child  a{z-index:10 !important; margin-left: 0px;padding: 7px 20px 11px 10px !important;}
#crumbs ul li:first-child  + li a{z-index:9 !important;}
#crumbs ul li:first-child + li+ li a{z-index:8 !important; }
#crumbs ul li:first-child + li+ li+ li a{z-index:7 !important; }
#crumbs ul li:first-child + li+ li+ li+ li a{z-index:6 !important; }
#crumbs ul li:first-child + li+ li+ li+ li+ li a{z-index:5 !important; }
.active{background-image: url('resources/images/ux_activecrumb.png') !important;  background-repeat: no-repeat !important; background-position: 100% 0 !important;}

