$fontSize14 : 14px;
$fontFamily : calibri;

/*Used for Button Background, Horizontal Menu Bar,SmartGrid Header,Linktabs*/
$primaryColor : #5d99b5; 


$panelBackgroundColor: #fff;

$lightColor: #fff;

$secondaryColor: #60b3d1;

$hoverColor: #b1e1f1;

$fontColor: #444;


/*Used for background color of Active tab*/
$activeTab : #60b3d1; 

/*Used for background color of inactive tab*/
$inactiveTab : #caebf6; 

$fontSize18 : 18px;
$fontSize16 : 16px;
$fontSize15 : 15px;
$fontSize14 : 14px;
$fontSize13 : 13px;
$fontSize12 : 12px;

$fontWeight-Regular: 400;
$fontWeight-SemiBold: 600;

$fieldsetBorderColor: #cfcfcf;

